version: "3.0"

services:
  app:
    build: .
    environment:
      - DB_URI=postgresql://postgres:postgres@db:5432/postgres
      - APP_HOST=0.0.0.0
      - APP_PORT=5000
    command: python main.py
    ports:
      - 5000:5000
    depends_on:
      - db
    restart: always
  db:
    image: postgres:12
    volumes:
      - /var/lib/postgresql/data
    expose:
      - 5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres


