version: "3.0"

services:
  app:
    build: .
    environment:
      - SUPER_MINI_DIVAR_DB_URL=postgresql://postgres:postgres@db:5432/postgres
    command: python main.py
    depends_on:
      - db
  db:
    image: postgres:12
    volumes:
      - /var/lib/postgresql/data
    expose:
      - 5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres


